body{
    background-color: #d1ca3b;
    font-family: 'poppins', sans-serif;
}
h1{
    font-weight: bolder;
}
.water{
    width: 100%;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    animation: transitionIn 4s;
}
.grid-item{
    padding: 20px;
    font-size: 20px;
    text-align: center;
}
@keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}